nav {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
}

ul {
    display: flex;
    margin: 0px !important;
    margin-left: 3% !important;
    padding: 0px !important;
}

ul li {
    display: block;
    padding-right: 1rem;
}