nav {
    background-color: #2e3239;
    color: white;
    padding: 20px;
}

ul {
    display: flex;
    margin: 0px !important;
    margin-left: 3% !important;
    padding: 0px !important;
}

ul li {
    display: block;
    padding-right: 1rem;
}