<nav>
    <div>
        <a
            class="logo"
            [routerLink]="['/']"
        >
            <span class="h4">&lt;</span>
            Brahim Slimani
            <span class="h4">/&gt;</span>
        </a>
        <span style="margin-left: 5rem;">
            <a [routerLinkActive]="['active-link']" [routerLink]="['/home']">Home</a>
        </span>
        <span style="margin-left: 2rem;">
            <a [routerLinkActive]="['active-link']" [routerLink]="['/spread']">Spread</a>
        </span>
    </div>
    <div>
        <a style="cursor: pointer;" (click)="authService.logout()">Sign out</a>
    </div>
</nav>
