<nav>
    <div>
        <a
            class="logo"
            [routerLink]="['/']"
            style="margin-right: 3rem;"
        >
            <span class="h4">&lt;</span>
            Brahim Slimani
            <span class="h4">/&gt;</span>
        </a>
        <span *ngFor="let nav of navItems" style="margin-left: 2rem; white-space: nowrap;">
            <a [routerLinkActive]="['active-link']" [routerLink]="[nav.path]">{{nav.label}}</a>
        </span>
    </div>
    <div>
        <a style="cursor: pointer;" (click)="authService.logout()">Sign out</a>
    </div>
</nav>
