<div class="product-card grid-item">
    <img
        alt="Ext of {{product.thumbnail}}"
        class="product-thumb"
        loading="lazy"
        src={{product.thumbnail}}
    >
    <div class="product-details">
        <h3 style="margin-block: 5px;">{{product.title}}</h3>
        <span style="font-size: 20px;">{{product.price | currency: 'EUR'}}</span>
        <p style="margin-bottom: 5px;">{{product.description}}</p>
        <small>
            <a
                href="https://www.{{product.brand}}.com/"
                target="_blank"
            >
                {{product.brand}}
            </a>
            | Category {{product.category}}
        </small>
    </div>
    <p class="product-action" style="text-align: center;">
        <a class="custom-btn" [routerLink]="['/details', product.id]">Learn more</a>
    </p>
</div>
