.product-card {
    height: 424px;
    border-radius: 10px;
    position: relative;
    background-color: white;
}

.product-card .product-thumb {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 2/1;
}

.product-details {
    padding-inline: 8%;
    padding-block: 5%;
}

.product-action {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    display: block;
}
