.logo {
    font-family: 'Agustina Regular';
    white-space: nowrap;
    height: 20px;
    text-decoration: auto;
    color: var(--txt-color);
}

.h4 {
    font-size: 1rem;
    font-family: Nunito, sans-serif;
}

.form-content {
    border: 1px solid var(--border-color);
    width: 350px;
    margin-top: 2%;
    background-color: var(--bck-color);
    color: var(--txt-color);
}

.error-msg {
    color: var(--error-color);
    text-align: center;
    padding-top: 1%;
    display: block;
    margin: auto;
}