.grid-container {
    margin: 2% 0;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    gap: 20px;
}

button#see-more-btn {
    color: var(--blue-color);
}

button#see-more-btn:disabled {
    color: var(--blur-color) !important;
}