<div class="products-container">
    <app-shark (filterOutput)="filterCallback($event)"></app-shark>
    <div
        *ngIf="loading"
        class="loader-container"
    >
        <img
            height="100"
            src="assets/spinner.svg"
        >
    </div>
    <section
        *ngIf="!loading"
        class="grid-container"
    >
        <app-product
            *ngFor="let productIem of products()"
            [product]="productIem"
        >
        </app-product>
    </section>
    <div style="text-align: center;">
        <button
            id="see-more-btn"
            [disabled]="fullPage"
            (click)="seeMoreAction()"
            class="custom-btn"
            style="padding-inline: 6%; padding-block: 8px; background-color: transparent;"
        >
            Load more items
        </button>
    </div>
    <app-theme-switcher></app-theme-switcher>
</div>
