#filter-input[type="text"] {
    border: 1px solid var(--primary-color);
    background-color: var(--bck-color);
    border-radius: 6px;
    padding: 8px;
    margin-right: 5px;
    width: 100%
}

button, .btn {
    border-radius: 6px;
    padding: 8px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.filter-form-container {
    width: 30%;
}
