<div class="form-wrapper">
    <div class="logo">
        <span class="h4">&lt;</span>
        Brahim Slimani
        <span class="h4">/&gt;</span>
    </div>
    <form
        class="form-content"
        (ngSubmit)="onSubmit()"
    >
        <div style="padding-bottom: 10px;">
            <h1>Sign in</h1>
            <small>
                Welcome to login page, please sign in to continue!
            </small>
        </div>
        <div class="input-container">
            <label for="username">Username</label>
            <input
                id="username"
                type="text"
                placeholder="Enter your username"
                name="username"
                [(ngModel)]="formData.username"
                [ngClass]="{'error-field': formSubmitted && !formData.username}"
                class="form-input"
                required
            >
            <div
                class="error-msg-container"
                *ngIf="formSubmitted && !formData.username"
            >
                <small>This field is required.</small>
            </div>
        </div>

        <div class="input-container">
            <label for="password">Password</label>
            <input
                id="password"
                type="password"
                placeholder="Enter your password"
                name="password"
                [(ngModel)]="formData.password"
                [ngClass]="{'error-field': formSubmitted && !formData.password}"
                class="form-input"
                required
            >
            <div
                class="error-msg-container"
                *ngIf="formSubmitted && !formData.password"
            >
                <small>This field is required.</small>
            </div>
        </div>
        <div class="action-container">
            <button
                class="custom-btn"
                style="width: 100%;border-radius: 6px;"
                type="submit"
            >
                Login
            </button>
        </div>
    </form>
    <div *ngIf="errorMsg" class="error-msg">
        <span>{{errorMsg}}</span>
    </div>
</div>
