<div class="product-card grid-item">
    <img
        alt="Ext of {{product.thumbnail}}"
        class="product-thumb"
        src={{product.thumbnail}}
    >
    <div class="product-details">
        <h2 style="margin-block: 5px;">{{product.title}}</h2>
        <span style="font-size: 20px;">€{{product.price}}</span>
        <p style="margin-bottom: 5px;">{{product.description}}</p>
        <small>
            <a
                href="https://www.{{product.brand}}.com/"
                target="_blank"
            >
                {{product.brand}}
            </a>
            | Category {{product.category}}
        </small>
    </div>
    <p class="product-action" style="text-align: center;">
        <button class="custom-btn">Buy now</button>
    </p>
</div>
