/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2e3239;
    --blue-color: #0472e3;
    --background-tint: #f3f3f3;
    --error-color: #ed1c24;
}

/* Agustina Regular */
@font-face {
    font-family: "Agustina Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Agustina Regular"),
        url("assets/fonts/Agustina.woff") format("woff");
    font-display: swap;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

body {
    font-family: system-ui;
}

.loader-container {
    padding-block: 10%;
    text-align: center;
}

.custom-btn {
    border-radius: 20px;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    padding: 2% 10%;
    cursor: pointer;
    text-decoration: auto;
}

.form-wrapper {
    text-align: center;
    display: block;
}

.form-content {
    display: block;
    width: 500px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.input-container {
    display: block;
    padding-block: 5px;

}

.input-container label,
.input-container input {
    display: block;
    text-align: initial;
}

.input-container label {
    font-size: 14px;
    font-weight: bold;
    padding-block: 3px;
}

.input-container input,
.form-input {
    border: 1px solid var(--primary-color);
    width: 95%;
    padding: 8px;
    border-radius: 6px;
}

.action-container {
    padding-block: 15px;
}

.error-msg-container {
    text-align: initial;
    color: var(--error-color);
}

.error-field {
    border: 2px solid var(--error-color) !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}