/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2e3239;
    --blue-color: #0472e3;
    --background-tint: #f3f3f3;
}

.d-flex {
    display: flex;
}

body {
    font-family: system-ui;
}

.loader-container {
    padding-block: 10%;
    text-align: center;
}

.custom-btn {
    border-radius: 20px;
    border: 1px solid var(--blue-color);
    background-color: var(--blue-color);
    color: white;
    padding: 2% 10%;
    cursor: pointer;
    text-decoration: auto;
}

