/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #2e3239;
    --blue-color: #0472e3;
    --background-tint: #f3f3f3;
}

.d-flex {
    display: flex;
}

body {
    font-family: system-ui;
}