<div style="display: flex;">
    <div style="display: flex;">
        <div class="thumb-container">
            <img
                loading="lazy"
                *ngFor="let image of productDetails?.images"
                (mouseover)="onImageChange(image)"
                [src]="image"
                class="thumb-img"
                alt
            >
        </div>
        <img
            alt="Loading..."
            loading="lazy"
            [src]="mainImgUri"
            class="main-img"
        >
    </div>
    <div style="margin-inline: 2rem;">
        <div class>
            <h1>
                {{productDetails?.title}}, {{productDetails?.description}}
            </h1>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <strong>Unit Price</strong>
                    </td>
                    <td>{{productDetails?.price}} €</td>
                </tr>
                <tr>
                    <td>
                        <strong>Category</strong>
                    </td>
                    <td>{{productDetails?.category}}</td>
                </tr>
                <tr>
                    <td>
                        <strong>Brand</strong>
                    </td>
                    <td>{{productDetails?.brand}}</td>
                </tr>
                <tr>
                    <td>
                        <strong>Rating</strong>
                    </td>
                    <td>{{productDetails?.rating}}</td>
                </tr>
                <tr>
                    <td>
                        <strong>Stock</strong>
                    </td>
                    <td>{{productDetails?.stock}}</td>
                </tr>
                <tr>
                    <td>
                        <strong>Discount</strong>
                    </td>
                    <td>{{productDetails?.discountPercentage}}%</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
