footer {
    text-align: center;
    padding: 20px;
    //position: fixed;
    bottom: 0;
    //width: 100%;
    border-top: 1px solid var(--border-color);
    background-color: var(--bck-color);
}

footer a {
    padding: 1rem;
    color: var(--blue-color);
}
