<footer>
    <div style="margin-bottom: 1rem;">
        <a [href]="'https://github.com/brahim-slimani'" target="_blank"><small>Github</small></a>
        <a [href]="'https://brahim-slimani.github.io/portfolio'" target="_blank"><small>Copyright</small></a>
        <a href=""><small>Terms of use</small></a>
        <a [href]="'https://brahim-slimani.github.io/portfolio'" target="_blank"><small>Help</small></a>
    </div>
    <small style="font-size: x-small;">© 2023, BRS Technology Limited</small>
</footer>